{% extends "DadaCMSBundle::layout.html.twig" %}

{% block title %}{{ parent() }}Home{% endblock %}
{% block content %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
<nav>
	{% if is_granted('ROLE_ADMIN') %}
    <h3>Tools (admin only)</h3>
		<ul>
			<li><a href="{{ path('dada_cms_create') }}">Create a new page</a></li>
			<li><a href="{{ path('dada_cms_create_category') }}">Create a new category</a></li>
			<li>More to come</li>
		</ul>
    {% endif %}
</nav>
<h3>List of available pages</h3>
<ul>
    {% for item in pages %}
        <li><a href="{{ path('dada_cms_view', {'slug': item.slug, 'category': item.category.name }) }}">{{ item.title }}</a></li>
    {% else %}
        <li>No pages</li>
    {% endfor %}
</ul>
    {% include "DadaCMSBundle:Includes:pagination.html.twig" %}
{% endblock %}
